.height{
	height: 70px;
}
.img{
	height: 30px;
	margin-top: 20px;
}
.img1{
	height: 20px;
    margin-top: 20px;
}
.img2{
	height: 20px;
}
.video{
	height: 50px;
}
.h{
	height: 900px;
}
.ht{
	height: 100px;
}
.nt{
	height: 150px;
}
.text{
	font-size: 10px;
}
.ml{
	margin-left: 20px;
}